@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root{
  --backgroundColor: #F5F6FA;
  --vanillaColor: #f2f2f2; 
  --accentColor: #C3DBF5;
  --textColor:#8590AA;
  --borderColor: #FFFFFF;
  --grayColor: #303030;
  --orangeColor: #ff8c00;
  --navColor: #323B59; 
  --greenColor: #79c09c;
  --blueColor: #272D36;
  --headerColor: #A49F9F; 
  --svgColor: white; 
  --footerColor: #272D36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

.nav-ul-width{
  min-width: 20vw;
}
.nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar-color {
  background-color: var(--greenColor);
}

.footer-color {
  background-color: var(--headerColor);
}

.svg-color {
  fill: white;
}

.footer-color-custom {
  background-color: var(--footerColor);
}

a {
  color: white;
  font-size: .8888888889rem;;
  font-weight: 700;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(0,0%,100%,.5);
}

.custom-height-class {
  min-height: 50vh;
}