.it-header-slim-wrapper {
  background: #00402b;
  padding: 6.5px 18px;
}
.it-header-wrapper {
  position: relative;
  z-index: 5;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}